<div class="container">
  <div class="row">

    <%= @cocktail.name %>
    <br>
    <br>

    <%= link_to "back to list", cocktails_path, class: "btn btn-primary" %>

    <%= link_to "create a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  </div>
</div>


<%= image_tag @cocktail.picture.url(:medium) %>
<div>
<ul>
<% @cocktail.doses.each do |dose| %>
<li>
   <%= dose.description %>
</li>
<% end %>
</ul>
</div>

